.customers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.company-list {
  display: flex;

  &__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--link-icon-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--link-icon-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__link {
    fill: currentColor;
  }
}
