
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.features-list {
  display: flex;
  margin-top: 0;
  &__icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-bg);
  margin-bottom: 30px;
}
  &__item {
  width: 270px;
}
  &__item:not(:last-child) {
  margin-right: 30px;
}
  &__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
  &__text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}
}

