.footer-flex {
    text-align: center;
    @media screen and (max-width: 1199px) {
    gap: 60px;
}
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
}
}
.address-list{
  &__item {
  margin-bottom: 9px;
}
  &__link {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  &--geoloc {
  color: var(--minor-color);
}
  &--geoloc:hover,
  &--geoloc:focus {
  color: var(--accent-color);
}
  &--contact:hover,
  &--contact:focus {
  color: var(--accent-color);
}
}

.footer-section {
  background-color: var(--secondary-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .container-logoadres {
  margin-right: 70px;
} */
/* .container.footer {
  display: flex;
  align-items: baseline;
} */

.container-joinin {
  color: var(--minor-color);
  margin-top: 60px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-top: 0px;
  }
  @media screen and (min-width: 1200px){
    margin-left: 70px;
    margin-right: 93px;
}
  &__text {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.875;
  text-transform: uppercase;
  margin-bottom: 20px;
}
}
.joinin-list {
  display: flex;
  justify-content: center;
  &__joinin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--minor-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
  background-color: var(--accent-color);
  }
}
  &__item:not(:last-child) {
  margin-right: 10px;
}
  &__link {
  fill: currentColor;
}
}

.sub-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--minor-color);
  margin-bottom: 20px;
}
.sub-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    align-items: flex-end;
    flex-direction: row;
}
  &__label {
  display: flex;
  flex-direction: column;
}
  &__input {
  padding-left: 16px;
  height: 50px;
  width: 358px;
  font-size: 16px;
  line-height: 0.8;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bg);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  margin-right: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  &__btn {
  @extend .button;
  display: flex;
  align-items: center;
  padding: 10px 28px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-top: 0;
}

  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--minor-color);
  cursor: pointer;
}
  &__icon {
  margin-left: 10px;
}
}
