
.js-form {
  display: flex;
  flex-direction: column;
  &__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
}
textarea {
  resize: none;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &__label {
  font-size: 12px;
  line-height: 0.857;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
&__posit-icon {
  position: relative;
}
&__input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
  border: 1px solid var(--accent-color);
  }
  &:hover{
    border-color: var(--accent-color);
  }
}
&__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--title-text-color);
  fill: currentColor;
}
&__input:focus + &__icon {
  color: var(--accent-color);
}
&__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 0.857;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
  border: 1px solid var(--accent-color);
  &:hover{
    border-color: var(--accent-color);
}
}
}
}

.form-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.text-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
      font-size: 14px;
  line-height: 0.58;
  }
}
.checkbox-policy {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked + .text-policy span .check-icon {
  visibility: visible;
}
  &:focus + .text-policy .icon-policy {
  border: 2px solid var(--accent-color);
}
}
.icon-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
  position: absolute;
  visibility: hidden;
}
.check-link {
  color: var(--accent-color);
  padding-left: 4px;
}

.button.submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: var(--button-active);
}
}

