
.team-section {
  background-color: var(--button-bg);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-list {
  display: flex;
  flex-wrap: wrap ;
  gap: 30px;
  &__item {
     @media screen and (min-width: 480px){
    width: 450px;
  }
    @media screen and (min-width: 768px) and (max-width: 1199px){
    width: calc((100% - 2 * 15px) / 2);
  }
    @media screen and (min-width: 1200px){
    width: calc((100% - 6 * 15px) / 4); 
  }

}
  & > a{
    height: 100%;
  }
  & > li {
  background-color: var(--minor-color);
}

  &__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}
  &__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}
  &__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

  &__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

}
.social {
  display: flex;
  justify-content: center;
  &__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--link-icon-color);

  width: 44px;
  height: 44px;
  &:hover,
  &:focus {
  background-color: var(--accent-color);
  color: var(--minor-color);
}
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  &__item-icon:not(:last-child) {
  margin-right: 10px;
}
  &__link {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
}

