.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px)/2);
}
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px)/3);
}
     &:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} 
    &:hover .portfolio-list__portfolio-text,
    &:focus .portfolio-list__portfolio-text {
   transform: translateY(0);
}
}

  &__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
  &__content {
   
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-portfolio);
  border-right: 1px solid var(--border-portfolio);
  border-left: 1px solid var(--border-portfolio);
}
  &__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
  margin-top: 0;
  margin-bottom: 0;
}
&__portfoli-images {
  position: relative;
  overflow: hidden;
}
&__portfolio-text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--minor-color);
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
}
& > li {
  background-color: var(--minor-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

